//- extends layout

//- block content
//-   h1= title
//-   p Welcome to new text
//-   button(type="button" class="btn btn-secondary" onclick="goFaster()") Press Me
//-   div#faster Increase the speed
//-   script.
//-     let mph = 20;
//-     let change = 1;
//-     function goFaster() {
//-       mph += change;
//-       change += 1;
//-       document.getElementById('faster').textContent = `MPH ${mph} with change ${change}`;
//-     }
//-   a(href="/Jewelry") Click Here to Visit cuisine Website
extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/Jewelry") Take me to Jewelry
    br
    a(href="/logout") Logout

